@font-face {
    font-family: 'FarAwayGalaxy';
    /* font-family: 'FarAwayGalaxy'; */
    src: url('/fonts/FarAwayGalaxy.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'FarAwayGalaxy', sans-serif;
    overflow: auto;
}

p {
    font-size: 23px;
}
